body {
  font-family: "Merriweather Sans";
  background-color: #a2b5cd;
  padding: 0px;
  margin: 0;
  padding-bottom: 20px;
}
header {
  color: white;
  background-color: #ff8247;
  box-shadow: 5px 5px 40px rgb(0, 0, 0, 0.2);
}
.contHeader {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  color: white;
  font-size: 55px;
  display: flex;
  font-weight: 700;
}
.low {
  color: #00b453;
}

.price {
  color: #a0000f;
}
img {
  width: 200px;
  display: block;

  animation: move 4s infinite;
  position: relative;
}
@keyframes move {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
.cont {
  width: 90%;
  margin: 0 auto;
}

h2 {
  color: #8b0000;
  font-size: 45px;
  padding-top: 50px;
  font-weight: 400;
  text-align: center;
}
strong {
  color: #00b453;
  font-weight: 700;
}
.tabelas {
  display: flex;
}
.tabela0 {
  list-style: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.5);
}
/* .tabela1 {
  width: 200px;
  border: 1px solid #8b0000;
}
.tabela2 {
  width: 250px;
  border: 1px solid #8b0000;
  border-left: none;
}
.tabela3 {
  width: 250px;
  border: 1px solid #8b0000;
  border-left: none;
}
.tabela4 {
  width: 250px;
  border: 1px solid #8b0000;
  border-left: none;
}
.tabela5 {
  width: 250px;
  border: 1px solid #8b0000;
  border-left: none;
}
.tabela6 {
  width: 250px;
  border: 1px solid #8b0000;
  border-left: none;
} */

h3 {
  text-align: center;
  color: #8b0000;
  font-weight: 700;
  background-color: #ff8247;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 10px 20px;
  border-radius: 5px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
li {
  color: #8b0000;
  text-align: center;
  border-bottom: 1px solid #8b0000;
  padding: 10px 20px;
  transition: all 0.3s;
  font-size: 16px;

  background-color: #f0ffff;
}
li:hover {
  cursor: pointer;
  background-color: #8b0000;
  color: white;
  font-weight: 600;
}
.titulos {
  display: flex !important;
  justify-content: space-between;
  width: 100%;
}
.nome0 {
  display: flex !important;
  justify-content: space-between;
}
.name {
  width: 221px;
}
.sazu {
  background-color: #ff8247;
}
.sazu:hover {
  background-color: #ff8247;
  cursor: auto;
}

.itens {
  width: 192px;
}
.botoes {
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.busca {
  padding: 10px 10px;
  margin: 0;
  background-color: #ff8247;
  color: #8b0000 !important;
  cursor: pointer !important;
  font-weight: 600;
  border: 1px solid #ff8247;
  border-radius: 5px;
  font-family: "Merriweather Sans";
  font-size: 17px;
  transition: all 0.3s;
}
.dentro {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.busca:hover {
  background-color: #00b453;
  border: 1px solid #8b0000;
}
a:hover {
  background-color: #00b453;
  border: 1px solid #8b0000;
}
.botaoCadastrar {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.cadastrar {
  padding: 10px 10px;
  margin: 0;
  background-color: #00b453;
  color: #8b0000 !important;
  cursor: pointer !important;
  font-weight: 600;
  border: 1px solid #00b453;
  border-radius: 5px;
  font-family: "Merriweather Sans";
  font-size: 17px;
  transition: all 0.3s;
}
.cadastrar:hover {
  background-color: #ff8247;
  border: 1px solid #8b0000;
}
input {
  padding: 10px 10px;
  width: 350px;
  margin-right: 10px;
  font-family: "Merriweather Sans";
  font-weight: 600;
  color: #8b0000 !important;
  font-size: 17px;
  border: none;

  background-color: -internal-light-dark(
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
}
input:focus {
  border: none;
}
.todos {
  padding: 10px 10px;
  background-color: #ff8247;
  color: #8b0000 !important;
  cursor: pointer !important;
  font-weight: 600;
  border: 1px solid #ff8247;
  border-radius: 5px;
  font-family: "Merriweather Sans";
  font-size: 17px;
  transition: all 0.3s;
  text-decoration: none;
  width: 200px;
  margin: auto;
  text-align: center;
}
#Delete {
  padding: 5 5px;
}
.cadastrologin {
  padding: 10px 10px;
  margin: 0;
  background-color: #00b453;
  color: #8b0000 !important;
  cursor: pointer !important;
  font-weight: 600;
  border: 1px solid #00b453;
  border-radius: 5px;
  font-family: "Merriweather Sans";
  font-size: 17px;
  transition: all 0.3s;
  text-decoration: none;
}
.cadastrologin:hover {
  background-color: #ff8247;
  border: 1px solid #8b0000;
}
